*{
	margin:0px;
	padding:0px;
}

body{
	background:#9193a8;
 }
 
article  {
	/*background:#f6f5f2;*/
	background:#9193a8;
	width:90%;
	float:left;
	margin:0 auto;
	margin-top:110px;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:3%;
	padding-bottom:2%;
}





/*****Cabeceras de texto******/
h3{
text-decoration:none;
color:black;
}
.enlacecab{
	background:#686a83; 
	width:20%;
	border-radius: 5px;
	float:left;
	overflow:hidden;
}

.enlacecab > h3{
	color:#fff38e;
	text-align: center;
	display:block;
}
.titulocab{
	background:#141526; 
	width:60%;
	border-radius: 5px;
	float:left;
}
.titulocab > h3{
	color:#fff38e;
	text-align: center;
		
}
#enlace{
	text-decoration:none;
}

/****Imagenes de peliculas*******/
.media{
	background:#9193a8;
	width:60%;
	float:left;
	margin-top:2%;
}
.trailer{
	display:flex;
	float:right;
	padding-left:1%;
	padding-right:1%;
}

.cartel{
	float:left;	
	height: 320px;
    width: 222px;
	padding-left:1%;
	padding-right:1%;
 }
 
.cartel img{
    height: 320px;
    width: 222px;
	display:flex;
 }
 /***Resumen**************/
 .resumen,.sinopsis{
	background:#fff38e;
	border-radius: 5px;
	margin-top:2%;
 }
 .resumen{
	width:40%;
	float:left;
 }
 .sinopsis{
	width:96%;
	padding:2%;
	float:left;
	margin-top:2%;
 }
.resumen p{
	padding:1%; 
	color:#141526;
	font-family:Arial,sans-serif;
 }
 .sinopsis p{
	color:#141526;
	font-family:Arial,sans-serif;
	font-size:110%	
	 
 }
 
 .containercompra{
	width:100%;
	clear:both;
	background:#9193a8;
 }
 
.containerslector
{
	margin-top: 5%;
	width:50%;
	float:left;
}

select{
	 width:75%;

	 padding:0.75%;
	 border-radius: 5px;
	 
 }
 
.containerboton{

	float:left;
	width:50%;
	margin-top:5%;
	
} 
.containerboton #comprar{
    text-decoration: none;
    padding: 10px;
	
	font-weight: 600;
    font-size: 20px;  

	background: #1883ba;
	color: white;

    border: 2px solid #0016b0;
	border-radius: 6px;
  }
  .containerboton #comprar:hover{
	color:#1883ba;
    background-color:white;
	 
  }
 
/*********************************************************/


@media (max-width:1264px){
	.media{
		width:100%;
	}		
	.resumen{
		width:96%;
		padding:2%;
	}	
	.trailer{
		width:60%;
	}	
	.trailer  iframe{
		width:100%;
	}	
	p{
		padding:0; 
	}
}
@media (max-width:870px){

	header label{
		display:block;
		height:80px;
		background:#141526;
		color:white;
		text-decoration:none;
		font: italic bold 300% cursive;
		margin-left:30px;
	}
	 header label > i{
		padding-top:20px;
		}
}
@media (max-width:816px){
		.cartel,.enlacecab{
			display:none;
		}
		.titulocab{
			width:100%;
		}

		.trailer{
			float:left;
			width:100%;
			padding:0;
		}
		
}
