


.form-titulo{

	text-align: center;
}

#formRegistro{

	width: 98%;
	max-width: 600px;
	margin: auto;
	background: #e6e8e5;
	border: 1px solid rgba(0,0,0,0.2);

}

.form-titulo{
	opacity: 0.90;
	margin-top:0;
	background: #fff38e;
	padding: 20px;
	text-align: center;
	font-weight: 100px;

}

.form-titulo:hover{
	opacity: 1;
}


.inputs{


	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

input{

	margin-bottom: 15px;
	padding: 15px;
}


.in100{

	width: 100%;
}
.campoEmail{

	width: 75%;
}

.in50{

	width: 40%;

}

img{
	width:15px;
	height:15px;
	display:none;
}


input[type="submit"]{

	width: 30%;
	background: linear-gradient(#FFDA63, #FFB940);
	border: 0;
	color: black;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 20px;

}

input[type="submit"]:hover{

	opacity: 1;
}

input[type="submit"]:active{

	transform: scale(0.95);
}

@media (max-width:1303px){
	nav{
		margin-left:-500%;
		
		
	}
	
	
	
	
}
