
#formLogin{

	margin-top:30px;
	margin:auto;
	width: 98%;
	max-width: 500px;
	background: #e6e8e5;
	padding: 30px;
	border: 1px solid rgba(0,0,0,0.2);
}



h2, h3{

	text-align: center;
	margin-bottom: 20px;
	color: rgba(0,0,0,0.5);
}

h3{

	margin-top: 30px;
}

h2:hover,h3:hover{

	color: black;
}

input , #create{

	display: block;
	padding: 10px;
	width: 100%;
	margin: 30px 0;
	font-size: 15px;

}
#create {
	text-align : center;
	text-decoration:none;
	position:relative;
	left: -10px;
}

#reg{

	text-align: center;
}

input[type="submit"] , #create{

	background: linear-gradient(#FFDA63, #FFB940);
	border: 0;
	color: black;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 20px;
	margin-bottom: 10px;
}

input[type="submit"]:hover , #create{

	opacity: 1;
}

input[type="submit"]:active , #create{

	transform: scale(0.95);
}


@media(max-width: 768px){

	form {
		width:75%;
	}

}

@media (max-width: 480px){

	form {
		width:95%;
	}

}


