.main-container {
	/*background-color: #f6f5f2;

	font-family:"HCo Gotham SSm",Helvetica,Arial,sans-serif;

	border-color: black;
	border-style: solid;

	margin: 30px;*/
	margin: 30px;
	font-family:"HCo Gotham SSm",Helvetica,Arial,sans-serif;
	background-color: #e6e8e5;
	border: 1px solid rgba(0,0,0,0.2);
}

.form-container {
	margin: 20px;
	padding: 10px;
}

.form-container p{
	margin: 10px;
}



/*-------------------------------------------*/
.form-titulo{
	text-align: center;
}

.form-registro{
	width: 98%;
	max-width: 600px;
	margin: auto;
	background: #e6e8e5;
	border: 1px solid rgba(0,0,0,0.2);
}

.form-titulo{
	opacity: 0.90;
	margin-top:0;
	background: #fff38e;
	padding: 20px;
	text-align: center;
	font-weight: 100px;
}

.sel{
	padding:10px;
	position:botton;
}

.form-titulo:hover{
	opacity: 1;
}

.desc{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
}

.sel{
	margin-left:10px;
}

#titulo{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	padding:5px;
}

.in100{
	width: 50%;
}

input[type="submit"]{
	background: linear-gradient(#FFDA63, #FFB940);
	border: 0;
	color: black;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 20px;
	padding:10px;
	margin-left:20px;
	margin-bottom:20px;
}

input[type="submit"]:hover{
	opacity: 1;
}

input[type="submit"]:active{
	transform: scale(0.95);
}

@media (max-width:1303px){
	nav{
		margin-left:-500%;
	}
}
